.input-box {
  box-shadow: 1px 1px 20px -1px rgba(0,0,0,.1);
  padding: 30px;
  margin-bottom: 25px;
  margin-top: 50px;
  border-radius: 5px;;
  border: 1.5px solid rgba(224, 224, 224, 0.5);
}

h1 {
  margin-bottom: 25px;
}

.reverse--check-box {
  margin-bottom: 10px;
}

.display-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: start;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 5px 5px 1px 1px;
  border-bottom: 3px solid rgba(0,0,0,.2);
  position: relative;
}

.output--box {
  padding: 20px;
  margin: 3px 5px;
  background: rgba(214, 214, 214, 0.1);
}
